<section class="section">
  <div class="columns is-centered">
    <div class="column is-6">
      <h1 class="title is-3">Enter Feedback</h1>
      <%= render 'form', book: @feedback %>
    </div>
  </div>
</section>
